 ﻿<div class="row">
    <div class="col-md-10">
        <button class="btn btn-outline-secondary" id="add-row">Add Row</button>
        <form  method="post" action="/home/addperson" id="add-form">
            <div id="people-row">
                <div class="row person-row">
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="people[0].firstname" placeholder="First Name" />
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="people[0].lastname" placeholder="Last Name" />
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="people[0].age" placeholder="Age" />
                    </div>
                </div>
            </div>

            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="/js/addpeople.js"></script>
}